  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
      font-family: 'Roboto', sans-serif;
    }
    
  #main-container {
  display: flex;
  height: 90%;
  }

  #map-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #map {
    height: 100%;
    width: 100%;
    border: 2px solid #dddddd;
    box-sizing: border-box;
  }
  
  #zoom-level-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  #zoom-level-container.hidden {
    opacity: 0;
  }
    
  #search-container {
    width: 30%;
    margin-bottom: 1px;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  
  #search-box {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }

  #info-table-container {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  background-color: #ECEFF1;
  box-sizing: border-box;
  }

  #header {
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: #ECEFF1;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    box-sizing: border-box;
  }

  #description {
    width: 100%;
    padding: 5px;
    text-align: left;
    background-color: #f8f9fa;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
    
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    
  }

  th, td {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #CFD8DC
  }

  th {
    background-color: #CFD8DC;
  }

  #control-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  #control-panel button {
    font-size: 14px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #control-panel button:hover {
    background-color: #dddddd;
  }

  #progress-container {
    position: relative;
    margin-bottom: 10px;
  }
  
  #progress-bar {
    width: 100%;
    height: 10px;
  }
  
  #progress-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
  }