<!DOCTYPE html>
<html>
<head>
  <title>Google Streetview Dates</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

  <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
  
<body onload="initMap()">
  <div id="header">Google Streetview Info</div>
  <div id="main-container">
    <div id="map-container">
      <div id="control-panel">
        <button id="toggle-pois">Toggle POIs</button>
      </div>

      <div id="map"></div>
      <div id="zoom-level-container">Zoom Level: <span id="zoom-level"></span></div>
    </div>
    <div id="search-container">
      <input id="search-box" type="text" placeholder="Search for a location">
        <div id="progress-container">

          <progress id="progress-bar" data-bgcolor max="100"></progress>

          <span id="progress-text">populating table...</span>
        </div>
      <div id="info-table-container">
        <table id="info-table">
          <tr>
            <th>Name</th>
            <th>Date</th>
          </tr>
          <!-- The table rows will be added dynamically -->
        </table>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="description">
  <h3>Description</h3>
  <p>
    Google Streetview Dates Viewer is an interactive mapping application that displays street names in a specific area on the map and their corresponding latest Street View image date. The app allows users to quickly see how up to date street-level imagery is for a given location without needing to enter a Streetview panorama view. Additionally, users can click on a location on the map to view the Street View image date for that spot in a popup.
  </p>
  <h3>How to use:</h3>
  <ol>
    <li>You will see a Google Map view on the left side of the screen and an initially empty data table on the right side.</li>
    <li>When you reach zoom level 17 or higher, the app will populate the data table with the visible street names and their latest Street View image date.</li>
    <li>If there is no StreetView imagery available for a street, "No imagery here" will appear in the date column.</li>
    <li>To view the location of a particular street on the map, click on the street name in the data table. A marker will appear on the map.</li>
    <li>Click on a location on the map to view the Street View image date for that spot in a popup. If there is no Street View imagery available for the clicked location, the popup will display "No imagery here".</li>
    <li>You can also use the search box to search for a specific location.</li>
    <li>Use the 'Toggle POIs' button for a cleaner map view</li>
  </ol>
</div>

	</body>
	</html>
